<!-- AMGTeer/templates/base.html -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="AMGTeer">
        <meta name="keywords" content="DJango Python Social">
        <title>AMGTeer</title>
        <!-- Include the Bulma CSS framework for styling -->
        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
        <style>
            label, input {
                display: block;
            }
            span.helptext {
                display: none;
            }
        </style>
    </head>
    <body>
        <section class="hero is-small is-info mb-4">
            <a href="{% url 'AMGTeer:dashboard' %} ">
                <div class="hero-body">
                    <h1 class="title is-1 has-text-centered	">AMGTeer</h1>
                </div>
            </a>
            <div class="columns is-full">
                <div class="column is-half">
                    <a href="{% url 'AMGTeer:profile' request.user.profile.id %} ">Hello, {{ user.username|default:'Guest' }}</a>
                </div>
                <div class="column is-half has-text-right">
                    {% if user.is_authenticated %}
                        <a href="{% url 'AMGTeer:logout' %}">Logout</a>
                    {% else %}
                        <a href="{% url 'AMGTeer:login' %}">Login</a> /
                        <a href="{% url 'AMGTeer:register' %}">New User</a>
                    {% endif %}
                </div>
            </div>
        </section>
        <div class="container">
            <div class="columns">
                {% block content %}
                {% endblock content %}
            </div>
        </div>
    </body>
</html>
